h2 {
  font-family: 'Quicksand';
  font-size: 40px;
}

div {
  white-space: pre-wrap;
}

.container {
max-width: 100%;
display: flex-grow;
flex-direction: row;
margin: 0 auto;
align-items: baseline;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.card {
   flex: 0 1 26%;
   margin: 10px;
}

.card .header {
   padding: 0 40px 40px;
   align-items: baseline;
}

.card .middle {
  padding: 0 40px 40px;
  align-items: baseline;
}

.card .text {
  font-family: Quicksand;
   padding: 0 40px 40px;
   color: black;
}

img {
	max-width: 100%;
	height: auto;
}
//
// .main-nav ul {
// 	margin: 1em 0 .5em;
// 	text-align: center;
// }
// .main-nav li {
// 	display: inline;
// }
// .main-nav a {
// 	display: inline-block;
// 	padding: .5em 1.5em;
// }
